<html xmlns:th="http://www.thymeleaf.org">
      
	<body>
		
		<div th:fragment="header">
		
			<p align="center">
				<img th:attr="src=@{/images/spring-framework-logo.png}" />	
			</p>
			
			<p align="center">
				<img th:attr="src=@{/images/thymeleaflogonameverysmall.png}" />	
			</p>
			
			<p align="center">
				<a th:href="@{/person/register}">Register</a>
				<a th:href="@{/person/search}">Search</a>
				<a th:href="@{/person/report}">Report</a>
			</p>
		
		</div>
	
	</body>            
</html>     
