<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Search Person</title>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<style type="text/css">
			table {
				 margin: 0px auto;         
			}
		</style>
	</head>
	
	<body>
	
		<div th:include="header :: header"></div>
	
		<form method="post" >
			<table>
				<tr>
					<td>Id: </td>
					<td><input type="text" name="id" size="50" /></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Search"/></td>
				</tr>
			</table>				
		</form>
	
	    <div th:include="footer :: footer"></div>
	
	</body>
</html>
